@import "https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-codeLight: #dd5073;
  --color-codeDark: #63eb90;

  --font-sans: "Atkinson", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Iosevka", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --rotate-45: 45deg;
  --rotate-135: 135deg;
  --rotate-225: 225deg;
  --rotate-315: 315deg;
}

@layer base {
  /* Font Face Declarations */
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Iosevka";
    src: url("/fonts/iosevka-nerd-regular.ttf");
  }

  html {
    overflow-y: scroll;
    color-scheme: light;
    background-color: white;
    font-family: var(--font-sans);
  }

  html.dark {
    color-scheme: dark;
    background-color: black;
  }

  html,
  body {
    @apply h-full w-full antialiased;
    @apply bg-white dark:bg-black;
    @apply text-black/75 dark:text-white/75;
  }

  body {
    @apply relative flex flex-col;
  }
}

@layer components {
  article {
    @apply prose dark:prose-invert max-w-none pb-0;
  }

  .prose code::before,
  .prose code::after {
    content: "";
  }

  main {
    @apply flex flex-col flex-1 bg-white dark:bg-black;
  }

  header {
    @apply border-b transition-all duration-300 ease-in-out;
  }

  header:not(.scrolled) {
    @apply bg-transparent border-transparent;
  }

  header.scrolled {
    @apply bg-white/75 dark:bg-black/50;
    @apply border-black/10 dark:border-white/25;
    @apply backdrop-blur-sm saturate-200;
  }

  .page-heading {
    @apply font-semibold text-black dark:text-white;
  }

  .blend {
    @apply transition-all duration-300 ease-in-out;
  }

  /* Code Specific Styling */
  code {
    @apply text-codeLight;
    font-family: var(--font-mono);
  }

  .dark code {
    @apply text-codeDark;
  }

  article img {
    @apply py-5 block mx-auto;
  }
}

/* Utilities / Third Party overrides */
.katex {
  color: inherit;
}

/** styles for public/animation.js */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

/** Light theme particles on home page */
@keyframes animateParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}